@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">

    <div class="row">

        <div class="col-md-4">
            <ul class="list-group" id="categories">
                <li class="list-group-item" aria-disabled="true"><a href="#" id="all" onclick = "getProducts()" >Tüm Ürünler</a></li>
            </ul>
        </div>

        <div class="col-md-8">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ürün Adı</th>
                            <th scope="col">Ürün Fiyatı</th>
                            <th scope="col">Stok Adedi</th>
                        </tr>
                    </thead>
                    <tbody id="products">
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts
    {
    <script type="application/ecmascript">

                 function getCategories(){
                     $.get("https://localhost:7169/api/Categories/getall", function(data){

                        $.each(data, function(index, value){
                            $("#categories").append(`<li class='list-group-item'><a href='#' id="category" onclick = "fun(${value.id})" >${value.name}</a></li>`);
                        });
                     });
                 }

                 function fun(id){

                     var tbody = document.getElementById('products')
                        tbody.innerHTML = "";

                     const url = "https://localhost:7169/api/Products/getProductsByCategoryId/"
                     $.get(`${url}${id}`, function(data){
                           $.each(data, function(index, value){
                                                           
                               $("#products").append(`
                                <tr>
                                    <td>${value.id}</td>
                                    <td>${value.productName}</td>
                                    <td>${value.unitPrice}</td>
                                    <td>${value.unitsInStock}</td>
                                </tr>
                                `);
                           });
                        });
                 }

                 function getProducts(){

                        var tbody = document.getElementById('products')
                        tbody.innerHTML = "";

                        $.get("https://localhost:7169/api/Products/getall", function(data){

                           $.each(data, function(index, value){
                               $("#products").append(`
                                <tr>
                                    <td>${value.id}</td>
                                    <td>${value.productName}</td>
                                    <td>${value.unitPrice}</td>
                                    <td>${value.unitsInStock}</td>
                                </tr>
                                `);
                           });
                        });
                   }


                 $(document).ready(function () {
                   getCategories();
                   getProducts();
                   });

    </script>
}